body{
    padding: 0;
    margin: 0;
}
.navbar-space{
    margin-left: 1100px;
}
@media only screen and (max-width: 1024px) {
    .container{
        margin-left: 200px;
    }
    .navbar-space{
        margin-left: 80px;
    }
    footer{
        width: 1500px;
    }
    .pricing img{
        width: 900px;
    }
  }